In [12]:
!which python

/home/sandro/.local/share/virtualenvs/data_science_for_business_lmu-RuOO37Hf/bin/python

In [1]:
%load_ext autoreload
%autoreload 2

In [10]:
import os
cwd = os.getcwd()
print(cwd)

/home/sandro/repo/data_science_for_business_lmu

In [3]:
os.chdir('..')

In [6]:
from src.data.make_dataset import get_preprocessed_datasets

In [2]:
from src.features.build_features import FeatureEngineering

In [3]:
import pandas as pd
import numpy as np

In [7]:
df_bitcoin, df, df_test = get_preprocessed_datasets()

2019-11-01 12:26:59,562 - src.data.make_dataset - INFO - making final data sets from raw data

FileNotFoundError: [Errno 2] File b'data/raw/1_training_data_sets/1_bitcoin_price_data_set.csv' does not exist: b'data/raw/1_training_data_sets/1_bitcoin_price_data_set.csv'

In [19]:
df_bitcoin.head()

      date_in_ms   price
0  1367107200000   135.3
1  1367193600000  141.96
2  1367280000000   135.3
3  1367366400000   117.0
4  1367452800000  103.43

In [20]:
df.head()

,OBS_ID,ï..id,symbol,name,categories_0,contract_address,transaction_count,holder_count,timestamp,country_origin,...,KW31,KW32,KW33,KW34,KW35,KW36,KW37,KW38,KW39,success
0,235691,01coin,zoc,01coin,Masternodes,NaN,NaN,NaN,Sep-26-2019 15:59:01 PM,NaN,...,0.002447546274714919,0.002808322880574077,0.0021200694938956423,0.001355550652369834,0.002012671604248252,0.0023568770184417566,0.0025350649298760968,0.0021662825358147323,0.001778674696301052,0
1,235692,0x,zrx,0x,Protocol,0xe41d2489571d322189246dafa5ebde1f4699f498,975773.0,109840.0,Sep-26-2019 01:56:58 PM,US,...,0.21931512365670175,0.1902118244838738,0.1739528088194773,0.1768360401100923,0.1534983327381213,0.15961035385705513,0.16061107287163193,0.22629107696617964,0.21794407055321546,1
2,235693,0xcert,zxc,0xcert,Protocol,0x83e2be8d114f9661221384b3a50d24b96a5653f5,22730.0,13914.0,Sep-25-2019 11:58:48 PM,SI,...,0.0015627075063726896,0.0009794145108587154,0.0009140279072363044,0.001081632723442786,0.0009823537645584207,0.0009866124861903753,0.0006878811046944512,0.0009500823096029532,0.0007445952388706128,0
3,235694,0xdark,oxd,0xDark,NaN,0xe1ae07ea12bdae73b7f546075f5c78f65aad4876,125.0,51.0,Sep-26-2019 04:58:35 AM,NaN,...,0,0,0,0,0,0,0,0,0.04619907404199976,0
4,235695,10m-token,10mt,10M Token,NaN,0xe701cd3329057aea9d54300ddd05e41b8d74727a,16417.0,6250.0,Sep-25-2019 11:14:11 PM,NaN,...,0.0008870106032193045,0.0008870106032193045,0.0008870106032193045,0.0008870106032193045,0.0008870106032193045,0.0008870106032193045,0.0008870106032193045,0.0008870106032193045,0.0008870106032193045,0

In [31]:
# Create fe object
fe = FeatureEngineering(df, df_bitcoin, df_test)

In [32]:
fe.construct_features()

2019-10-30 09:26:45,430 - src.features.build_features - INFO - Adding transaction count for train
2019-10-30 09:26:45,441 - src.features.build_features - INFO - Adding transaction count for test

In [33]:
fe.df_features_train

      OBS_ID  success  transaction_count
0     235691        0       45774.719889
1     235692        1      975773.000000
2     235693        0       22730.000000
3     235694        0         125.000000
4     235695        0       16417.000000
...      ...      ...                ...
4752  240443        0       16776.000000
4753  240444        0       45774.719889
4754  240445        0       45774.719889
4755  240446        0         168.000000
4756  240447        0       45774.719889

[4757 rows x 3 columns]

In [34]:
fe.df_features_test

      OBS_ID  transaction_count
0          1         376.000000
1          2       70408.000000
2          3       59910.102041
3          4         304.000000
4          5       59910.102041
...      ...                ...
996      997       59910.102041
997      998       59910.102041
998      999       59910.102041
999     1000       87780.000000
1000    1001       59910.102041

[1001 rows x 2 columns]

In [35]:
df_test

,OBS_ID,ï..id,symbol,name,categories_0,contract_address,transaction_count,holder_count,timestamp,country_origin,...,KW31,KW32,KW33,KW34,KW35,KW36,KW37,KW38,KW39,success
0,1,02-token,o2t,O2 Token,NaN,0xb1bafca3737268a96673a250173b6ed8f1b5b65f,376.0,265.0,Dec-10-2018 03:39:32 AM,NaN,...,0.0008397075704562483,0.0008397075704562483,0.0008397075704562483,0.0008397075704562483,0.0008397075704562483,0.0008397075704562483,0.0008397075704562483,0.0008397075704562483,0.0008397075704562483,NaN
1,2,0chain,zcn,0chain,NaN,0xb9ef770b6a5e12e45983c5d80545258aa38f3b78,70408.0,23115.0,Sep-25-2019 02:20:57 PM,NaN,...,0.10225637235857633,0.07854289616475761,0.04897843905146685,0.06466898084739771,0.0687,0.03485936508050964,0.04642199481679839,0.06030042599414991,0.0569162632122724,NaN
2,3,1337,1337,Elite,NaN,NaN,NaN,NaN,Sep-26-2019 16:58:48 PM,NaN,...,"2,22E+11",18600000000,16000000000,16100000000,"1,51E+11","1,52E+11","1,44E+11",16400000000,"1,35E+11",NaN
3,4,300token,300,300 Token,NaN,0xaec98a708810414878c3bcdf46aad31ded4a4557,304.0,65.0,Jun-13-2019 12:31:52 PM,NaN,...,0,0,0,0,0,"2,2144E+16",0,0,0,NaN
4,5,42-coin,42,42-coin,NaN,NaN,NaN,NaN,Sep-26-2019 16:56:06 PM,NaN,...,0,0,0,0,0,"2,31376E+16","2,26296E+15","2,45132E+16","1,80148E+14",NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
996,997,zio,zio,ZIO,Gambling,NaN,NaN,NaN,Sep-26-2019 17:01:27 PM,JP,...,0,0.03441081526498614,0.021796981500357297,0.03284773394289855,0.02732334874825539,0.0290545465293325,0,0.0111423594048368,0.015567583670974845,NaN
997,998,zioncoin,znc,ZionCoin,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0.0010228622726957744,0.0010010340750327737,0.0010108281962767675,0.0010218434742784862,0.0007053896215284607,0.00048085210087322377,NaN
998,999,zoptax,zpt,Zoptax,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0.3039196123582668,0,0.3039196123582668,0.3039196123582668,0.3039196123582668,NaN
999,1000,zper,zpr,ZPER,NaN,0xb5b8f5616fe42d5ceca3e87f3fddbdd8f496d760,87780.0,70199.0,Sep-26-2019 10:59:48 AM,NaN,...,0.001719361837283647,0.0012832316956109164,0.0010260735197198999,0.0009644754667173727,0.0009499058196807498,0.0010633992125232694,0.0009596782594441206,0.000877570715037394,0.0008810562164557662,NaN
1000,1001,zumcoin,zum,ZumCoin,Cryptocurrency,NaN,NaN,NaN,NaN,SZ,...,0,0,0,0,0,0,0,0.0026595578646943672,0.002914978420486358,NaN

In [63]:
# These are NOT the final X and y to train on
# X_test in this case is the unseen dataset
# We still have to do a train / test split from X_train 

X_train, y_train, X_test = fe.get_X_y()

In [40]:
print(X_train.shape)
print(y_train.shape)
print(X_test.shape)

(4757, 1)
(4757,)
(1001, 1)

In [42]:
from src.models.light_gbm import LightGbmModel

In [44]:
model_obj = LightGbmModel(X_train, y_train)

In [45]:
model_obj.preprocess()

In [46]:
model_obj.train()

[1]	valid_0's auc: 0.514378
Training until validation scores don't improve for 100 rounds
[2]	valid_0's auc: 0.52748
[3]	valid_0's auc: 0.521768
[4]	valid_0's auc: 0.520261
[5]	valid_0's auc: 0.517185
[6]	valid_0's auc: 0.515094
[7]	valid_0's auc: 0.520143
[8]	valid_0's auc: 0.525549
[9]	valid_0's auc: 0.526232
[10]	valid_0's auc: 0.528667
[11]	valid_0's auc: 0.522149
[12]	valid_0's auc: 0.522008
[13]	valid_0's auc: 0.522323
[14]	valid_0's auc: 0.525314
[15]	valid_0's auc: 0.524885
[16]	valid_0's auc: 0.520341
[17]	valid_0's auc: 0.520859
[18]	valid_0's auc: 0.520783
[19]	valid_0's auc: 0.521706
[20]	valid_0's auc: 0.526275
[21]	valid_0's auc: 0.522954
[22]	valid_0's auc: 0.518867
[23]	valid_0's auc: 0.526209
[24]	valid_0's auc: 0.520699
[25]	valid_0's auc: 0.523458
[26]	valid_0's auc: 0.525719
[27]	valid_0's auc: 0.52391
[28]	valid_0's auc: 0.530612
[29]	valid_0's auc: 0.532581
[30]	valid_0's auc: 0.537846
[31]	valid_0's auc: 0.536405
[32]	valid_0's auc: 0.539113
[33]	valid_0's auc: 0.539254
[34]	valid_0's auc: 0.538444
[35]	valid_0's auc: 0.538105
[36]	valid_0's auc: 0.534959
[37]	valid_0's auc: 0.535355
[38]	valid_0's auc: 0.531747
[39]	valid_0's auc: 0.53106
[40]	valid_0's auc: 0.528728
[41]	valid_0's auc: 0.536042
[42]	valid_0's auc: 0.540526
[43]	valid_0's auc: 0.543818
[44]	valid_0's auc: 0.55099
[45]	valid_0's auc: 0.551819
[46]	valid_0's auc: 0.556096
[47]	valid_0's auc: 0.555059
[48]	valid_0's auc: 0.555507
[49]	valid_0's auc: 0.55741
[50]	valid_0's auc: 0.555055
[51]	valid_0's auc: 0.55383
[52]	valid_0's auc: 0.559651
[53]	valid_0's auc: 0.559981
[54]	valid_0's auc: 0.557654
[55]	valid_0's auc: 0.559764
[56]	valid_0's auc: 0.561893
[57]	valid_0's auc: 0.561771
[58]	valid_0's auc: 0.555714
[59]	valid_0's auc: 0.559745
[60]	valid_0's auc: 0.561092
[61]	valid_0's auc: 0.559449
[62]	valid_0's auc: 0.558874
[63]	valid_0's auc: 0.565204
[64]	valid_0's auc: 0.562453
[65]	valid_0's auc: 0.563565
[66]	valid_0's auc: 0.566626
[67]	valid_0's auc: 0.566165
[68]	valid_0's auc: 0.564243
[69]	valid_0's auc: 0.562929
[70]	valid_0's auc: 0.563504
[71]	valid_0's auc: 0.562072
[72]	valid_0's auc: 0.562237
[73]	valid_0's auc: 0.561191
[74]	valid_0's auc: 0.562567
[75]	valid_0's auc: 0.565637
[76]	valid_0's auc: 0.560353
[77]	valid_0's auc: 0.561172
[78]	valid_0's auc: 0.561201
[79]	valid_0's auc: 0.558968
[80]	valid_0's auc: 0.555917
[81]	valid_0's auc: 0.555563
[82]	valid_0's auc: 0.556034
[83]	valid_0's auc: 0.558676
[84]	valid_0's auc: 0.558855
[85]	valid_0's auc: 0.557763
[86]	valid_0's auc: 0.557254
[87]	valid_0's auc: 0.559402
[88]	valid_0's auc: 0.559157
[89]	valid_0's auc: 0.55992
[90]	valid_0's auc: 0.559486
[91]	valid_0's auc: 0.56349
[92]	valid_0's auc: 0.56299
[93]	valid_0's auc: 0.563028
[94]	valid_0's auc: 0.562877
[95]	valid_0's auc: 0.560862
[96]	valid_0's auc: 0.558394
[97]	valid_0's auc: 0.553091
[98]	valid_0's auc: 0.5531
[99]	valid_0's auc: 0.553157
[100]	valid_0's auc: 0.553326
[101]	valid_0's auc: 0.555328
[102]	valid_0's auc: 0.555827
[103]	valid_0's auc: 0.555846
[104]	valid_0's auc: 0.553736
[105]	valid_0's auc: 0.552455
[106]	valid_0's auc: 0.552276
[107]	valid_0's auc: 0.555092
[108]	valid_0's auc: 0.558102
[109]	valid_0's auc: 0.558318
[110]	valid_0's auc: 0.557122
[111]	valid_0's auc: 0.54872
[112]	valid_0's auc: 0.545254
[113]	valid_0's auc: 0.546045
[114]	valid_0's auc: 0.546102
[115]	valid_0's auc: 0.545998
[116]	valid_0's auc: 0.546752
[117]	valid_0's auc: 0.546592
[118]	valid_0's auc: 0.550581
[119]	valid_0's auc: 0.550684
[120]	valid_0's auc: 0.550854
[121]	valid_0's auc: 0.54694
[122]	valid_0's auc: 0.548428
[123]	valid_0's auc: 0.550472
[124]	valid_0's auc: 0.551207
[125]	valid_0's auc: 0.547016
[126]	valid_0's auc: 0.549041
[127]	valid_0's auc: 0.550708
[128]	valid_0's auc: 0.550661
[129]	valid_0's auc: 0.55099
[130]	valid_0's auc: 0.553882
[131]	valid_0's auc: 0.548617
[132]	valid_0's auc: 0.547044
[133]	valid_0's auc: 0.546648
[134]	valid_0's auc: 0.54775
[135]	valid_0's auc: 0.541722
[136]	valid_0's auc: 0.544341
[137]	valid_0's auc: 0.541948
[138]	valid_0's auc: 0.542212
[139]	valid_0's auc: 0.542221
[140]	valid_0's auc: 0.542023
[141]	valid_0's auc: 0.542259
[142]	valid_0's auc: 0.542372
[143]	valid_0's auc: 0.543163
[144]	valid_0's auc: 0.541025
[145]	valid_0's auc: 0.540337
[146]	valid_0's auc: 0.542899
[147]	valid_0's auc: 0.541769
[148]	valid_0's auc: 0.543092
[149]	valid_0's auc: 0.54151
[150]	valid_0's auc: 0.544435
[151]	valid_0's auc: 0.543954
[152]	valid_0's auc: 0.542918
[153]	valid_0's auc: 0.541901
[154]	valid_0's auc: 0.54191
[155]	valid_0's auc: 0.53867
[156]	valid_0's auc: 0.540874
[157]	valid_0's auc: 0.541326
[158]	valid_0's auc: 0.542344
[159]	valid_0's auc: 0.541298
[160]	valid_0's auc: 0.54499
[161]	valid_0's auc: 0.545706
[162]	valid_0's auc: 0.545367
[163]	valid_0's auc: 0.545716
[164]	valid_0's auc: 0.546017
[165]	valid_0's auc: 0.544972
[166]	valid_0's auc: 0.538896
Early stopping, best iteration is:
[66]	valid_0's auc: 0.566626

In [47]:
model_obj.evaluate()

2019-10-30 09:29:36,709 - src.models.light_gbm - INFO - MCC is; 0.08576641794122383

In [ ]:
df_test=pd.read_csv('data/raw/2_classification_data.csv'')

In [48]:
model = model_obj.model

In [49]:
    preds = model.predict(
        X_test, num_iteration=model.best_iteration)

In [51]:
classes_preds = preds.round().astype(int)

In [55]:
len(classes_preds)

1001

In [64]:
X_test

      OBS_ID  transaction_count
0          1         376.000000
1          2       70408.000000
2          3       59910.102041
3          4         304.000000
4          5       59910.102041
...      ...                ...
996      997       59910.102041
997      998       59910.102041
998      999       59910.102041
999     1000       87780.000000
1000    1001       59910.102041

[1001 rows x 2 columns]

In [74]:
pd.DataFrame(X_test['OBS_ID']).assign(success = classes_preds).to_csv('data/interim/submission01.csv', index=None)

In [75]:
pd.read_csv('data/interim/submission01.csv')

      OBS_ID  success
0          1        0
1          2        0
2          3        0
3          4        1
4          5        0
...      ...      ...
996      997        0
997      998        0
998      999        0
999     1000        0
1000    1001        0

[1001 rows x 2 columns]