In [1]:
!which python

/home/fuchsfl/.local/share/virtualenvs/data_science_for_business_lmu-QqPERFZM/bin/python

In [1]:
import os
cwd = os.getcwd()
print(cwd)

/mnt/c/Users/fuchsfl/Documents/data_science_for_business_lmu/notebooks

In [2]:
os.chdir('..')

In [3]:
%load_ext autoreload
%autoreload 2

In [4]:
from src.features.build_features import FeatureEngineering

In [5]:
from src.data.make_dataset import get_preprocessed_datasets

In [6]:
import pandas as pd
import numpy as np

In [21]:
df_bitcoin, df, df_test = get_preprocessed_datasets()

2019-11-03 17:42:41,469 - src.data.make_dataset - INFO - making final data sets from raw data
2019-11-03 17:42:41,883 - src.data.make_dataset - INFO - Shape of df_bitcoin: (2355, 2)
2019-11-03 17:42:41,884 - src.data.make_dataset - INFO - Shape of df: (4757, 91)

In [58]:
fe = FeatureEngineering(df, df_bitcoin, df_test)

In [59]:
fe.construct_features()

2019-11-03 17:55:44,372 - src.features.build_features - INFO - Adding transaction count for train
2019-11-03 17:55:44,386 - src.features.build_features - INFO - Adding transaction count for test
2019-11-03 17:55:44,402 - src.features.build_features - INFO - Adding categories_0

In [60]:
fe.df_features_train.head()

   OBS_ID  success  transaction_count  labels_categories_0
0  235691        0       45774.719889                   23
1  235692        1      975773.000000                   29
2  235693        0       22730.000000                   29
3  235694        0         125.000000                   26
4  235695        0       16417.000000                   26

In [29]:
fe.le

LabelEncoder()

In [30]:
df.categories_0.unique()

array(['Masternodes', 'Protocol', nan, 'Cryptocurrency',
       'Business Services', 'Sports', 'Infrastructure', 'Gambling',
       'Artificial Intelligence', 'Smart Contract Platform', 'Media',
       'Exchange-based Tokens', 'Decentralized Exchange', 'Education',
       'Finance / Banking', 'Entertainment', 'Real Estate', 'Other',
       'Tourism', 'Communication', 'Technology & Science',
       'Business Platform', 'Healthcare', 'Retail', 'Charity', 'Legal',
       'Manufacturing', 'Investment', 'Software', 'Privacy Coins',
       'Big Data', 'Virtual Reality', 'Asset-backed Tokens',
       'Stablecoins', 'Internet of Things (IOT)', 'Energy', 'Storage',
       'Augmented Reality', 'Index', 'Music'], dtype=object)

In [43]:
from sklearn import preprocessing
le = preprocessing.LabelEncoder()
df.loc[df["categories_0"].isna(), "categories_0"] = "NAN"
le.fit_transform(df.categories_0)

array([23, 29, 29, ..., 26, 26, 23])

In [44]:
le.get_params()

{}

In [45]:
le.get_params(True)

{}

In [52]:
le = preprocessing.LabelEncoder()

In [49]:
le.fit_transform(df.categories_0)

array([23, 29, 29, ..., 26, 26, 23])

In [62]:
fe.df_features_train.head()

   OBS_ID  success  transaction_count  labels_categories_0
0  235691        0       45774.719889                   23
1  235692        1      975773.000000                   29
2  235693        0       22730.000000                   29
3  235694        0         125.000000                   26
4  235695        0       16417.000000                   26