In [2]:
!which python

/home/fuchsfl/anaconda3/envs/data_science_for_buisness/bin/python

In [ ]:
!conda install pandas -y

Collecting package metadata (current_repodata.json): done
Solving environment: done

## Package Plan ##

  environment location: /home/fuchsfl/anaconda3/envs/data_science_for_buisness

  added / updated specs:
    - pandas


The following NEW packages will be INSTALLED:

  blas               pkgs/main/linux-64::blas-1.0-mkl
  intel-openmp       pkgs/main/linux-64::intel-openmp-2019.4-243
  libgfortran-ng     pkgs/main/linux-64::libgfortran-ng-7.3.0-hdf63c60_0
  mkl                pkgs/main/linux-64::mkl-2019.4-243
  mkl-service        pkgs/main/linux-64::mkl-service-2.3.0-py37he904b0f_0
  mkl_fft            pkgs/main/linux-64::mkl_fft-1.0.14-py37ha843d7b_0
  mkl_random         pkgs/main/linux-64::mkl_random-1.1.0-py37hd6b4f25_0
  numpy              pkgs/main/linux-64::numpy-1.17.2-py37haad9e8e_0
  numpy-base         pkgs/main/linux-64::numpy-base-1.17.2-py37hde5b4d6_0
  pandas             pkgs/main/linux-64::pandas-0.25.2-py37he6710b0_0
  pytz               pkgs/main/noarch::pytz-2019.3-py_0


Preparing transaction: done
Verifying transaction: done
Executing transaction: /

In [1]:
!conda install numpy -y

Collecting package metadata (current_repodata.json): done
Solving environment: done

# All requested packages already installed.

In [1]:
import os
cwd = os.getcwd()
print(cwd)

/mnt/c/Users/fuchsfl/Documents/data_science_for_business_lmu/notebooks

In [2]:
os.chdir('..')

In [17]:
from src.features.build_features import FeatureEngineering

In [4]:
from src.data.make_dataset import get_preprocessed_datasets

In [5]:
import pandas as pd
import numpy as np

In [6]:
df_bitcoin, df, df_test = get_preprocessed_datasets()

2019-11-01 14:17:57,732 - src.data.make_dataset - INFO - making final data sets from raw data
2019-11-01 14:17:58,152 - src.data.make_dataset - INFO - Shape of df_bitcoin: (2355, 2)
2019-11-01 14:17:58,153 - src.data.make_dataset - INFO - Shape of df: (4757, 91)

      date_in_ms   price
0  1367107200000   135.3
1  1367193600000  141.96
2  1367280000000   135.3
3  1367366400000   117.0
4  1367452800000  103.43

In [18]:
fe = FeatureEngineering(df, df_bitcoin, df_test)

In [15]:
df

,OBS_ID,ï..id,symbol,name,categories_0,contract_address,transaction_count,holder_count,timestamp,country_origin,...,KW31,KW32,KW33,KW34,KW35,KW36,KW37,KW38,KW39,success
0,235691,01coin,zoc,01coin,Masternodes,NaN,NaN,NaN,Sep-26-2019 15:59:01 PM,NaN,...,0.002447546274714919,0.002808322880574077,0.0021200694938956423,0.001355550652369834,0.002012671604248252,0.0023568770184417566,0.0025350649298760968,0.0021662825358147323,0.001778674696301052,0
1,235692,0x,zrx,0x,Protocol,0xe41d2489571d322189246dafa5ebde1f4699f498,975773.0,109840.0,Sep-26-2019 01:56:58 PM,US,...,0.21931512365670175,0.1902118244838738,0.1739528088194773,0.1768360401100923,0.1534983327381213,0.15961035385705513,0.16061107287163193,0.22629107696617964,0.21794407055321546,1
2,235693,0xcert,zxc,0xcert,Protocol,0x83e2be8d114f9661221384b3a50d24b96a5653f5,22730.0,13914.0,Sep-25-2019 11:58:48 PM,SI,...,0.0015627075063726896,0.0009794145108587154,0.0009140279072363044,0.001081632723442786,0.0009823537645584207,0.0009866124861903753,0.0006878811046944512,0.0009500823096029532,0.0007445952388706128,0
3,235694,0xdark,oxd,0xDark,NaN,0xe1ae07ea12bdae73b7f546075f5c78f65aad4876,125.0,51.0,Sep-26-2019 04:58:35 AM,NaN,...,0,0,0,0,0,0,0,0,0.04619907404199976,0
4,235695,10m-token,10mt,10M Token,NaN,0xe701cd3329057aea9d54300ddd05e41b8d74727a,16417.0,6250.0,Sep-25-2019 11:14:11 PM,NaN,...,0.0008870106032193045,0.0008870106032193045,0.0008870106032193045,0.0008870106032193045,0.0008870106032193045,0.0008870106032193045,0.0008870106032193045,0.0008870106032193045,0.0008870106032193045,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4752,240443,zulu-republic-token,ztx,Zulu Republic Token,NaN,0xe8f9fa977ea585591d9f394681318c16552577fb,16776.0,4829.0,Sep-14-2019 05:37:47 PM,CH,...,0.00011849582666764236,0,0,0,0,0,0,0,0,0
4753,240444,zumy,zmy,Zumy,Internet of Things (IOT),NaN,NaN,NaN,NaN,GB,...,0.03814058968025982,0.030020631293592375,0.0341321660015811,0.0304697181117438,0.020523623665310388,0.014533328424871593,0,0.017655037734807966,0.017458673754139658,0
4754,240445,zurcoin,zur,Zurcoin,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0.00017877011071567577,8420000000,0
4755,240446,zuzubecoin,zube,zuzubecoin,NaN,0xc5e017450346e4f9a2e477519d65affcfc90586a,168.0,34.0,Sep-12-2019 06:14:33 PM,GB,...,"0,0000006",90000000,"0,0000001",600000000,0,0,18000000000,"0,0000006",600000000,0
4756,240447,zxflea,xflea,zXFLEA,Masternodes,NaN,NaN,NaN,NaN,NaN,...,3400000000,3400000000,3400000000,3400000000,3400000000,3400000000,3400000000,3400000000,3400000000,0

In [19]:
fe.normalize_categorical_feature("categories_0")

KeyError: 'categories_0'

In [20]:
fe.construct_features()

2019-11-01 14:26:40,947 - src.features.build_features - INFO - Adding transaction count for train

KeyError: "['categories_0transaction_count'] not in index"

In [27]:
fe.df_features_train

      OBS_ID              categories_0  success  transaction_count
0     235691               Masternodes        0       45774.719889
1     235692                  Protocol        1      975773.000000
2     235693                  Protocol        0       22730.000000
3     235694                       NaN        0         125.000000
4     235695                       NaN        0       16417.000000
...      ...                       ...      ...                ...
4752  240443                       NaN        0       16776.000000
4753  240444  Internet of Things (IOT)        0       45774.719889
4754  240445                       NaN        0       45774.719889
4755  240446                       NaN        0         168.000000
4756  240447               Masternodes        0       45774.719889

[4757 rows x 4 columns]

In [28]:
fe.df_features_test

      OBS_ID  transaction_count
0          1         376.000000
1          2       70408.000000
2          3       59910.102041
3          4         304.000000
4          5       59910.102041
...      ...                ...
996      997       59910.102041
997      998       59910.102041
998      999       59910.102041
999     1000       87780.000000
1000    1001       59910.102041

[1001 rows x 2 columns]

In [29]:
df_test

,OBS_ID,ï..id,symbol,name,categories_0,contract_address,transaction_count,holder_count,timestamp,country_origin,...,KW31,KW32,KW33,KW34,KW35,KW36,KW37,KW38,KW39,success
0,1,02-token,o2t,O2 Token,NaN,0xb1bafca3737268a96673a250173b6ed8f1b5b65f,376.0,265.0,Dec-10-2018 03:39:32 AM,NaN,...,0.0008397075704562483,0.0008397075704562483,0.0008397075704562483,0.0008397075704562483,0.0008397075704562483,0.0008397075704562483,0.0008397075704562483,0.0008397075704562483,0.0008397075704562483,NaN
1,2,0chain,zcn,0chain,NaN,0xb9ef770b6a5e12e45983c5d80545258aa38f3b78,70408.0,23115.0,Sep-25-2019 02:20:57 PM,NaN,...,0.10225637235857633,0.07854289616475761,0.04897843905146685,0.06466898084739771,0.0687,0.03485936508050964,0.04642199481679839,0.06030042599414991,0.0569162632122724,NaN
2,3,1337,1337,Elite,NaN,NaN,NaN,NaN,Sep-26-2019 16:58:48 PM,NaN,...,"2,22E+11",18600000000,16000000000,16100000000,"1,51E+11","1,52E+11","1,44E+11",16400000000,"1,35E+11",NaN
3,4,300token,300,300 Token,NaN,0xaec98a708810414878c3bcdf46aad31ded4a4557,304.0,65.0,Jun-13-2019 12:31:52 PM,NaN,...,0,0,0,0,0,"2,2144E+16",0,0,0,NaN
4,5,42-coin,42,42-coin,NaN,NaN,NaN,NaN,Sep-26-2019 16:56:06 PM,NaN,...,0,0,0,0,0,"2,31376E+16","2,26296E+15","2,45132E+16","1,80148E+14",NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
996,997,zio,zio,ZIO,Gambling,NaN,NaN,NaN,Sep-26-2019 17:01:27 PM,JP,...,0,0.03441081526498614,0.021796981500357297,0.03284773394289855,0.02732334874825539,0.0290545465293325,0,0.0111423594048368,0.015567583670974845,NaN
997,998,zioncoin,znc,ZionCoin,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0.0010228622726957744,0.0010010340750327737,0.0010108281962767675,0.0010218434742784862,0.0007053896215284607,0.00048085210087322377,NaN
998,999,zoptax,zpt,Zoptax,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0.3039196123582668,0,0.3039196123582668,0.3039196123582668,0.3039196123582668,NaN
999,1000,zper,zpr,ZPER,NaN,0xb5b8f5616fe42d5ceca3e87f3fddbdd8f496d760,87780.0,70199.0,Sep-26-2019 10:59:48 AM,NaN,...,0.001719361837283647,0.0012832316956109164,0.0010260735197198999,0.0009644754667173727,0.0009499058196807498,0.0010633992125232694,0.0009596782594441206,0.000877570715037394,0.0008810562164557662,NaN
1000,1001,zumcoin,zum,ZumCoin,Cryptocurrency,NaN,NaN,NaN,NaN,SZ,...,0,0,0,0,0,0,0,0.0026595578646943672,0.002914978420486358,NaN