In [12]:
%load_ext autoreload
%autoreload 2
import os 
import pandas as pd
import numpy as np

In [2]:
os.chdir('..')

In [3]:
from src.data.make_dataset import get_preprocessed_datasets
from src.features.build_features import FeatureEngineering

In [4]:
df_bitcoin, df, df_test = get_preprocessed_datasets()

2019-11-03 17:24:18,868 - src.data.make_dataset - INFO - making final data sets from raw data
2019-11-03 17:24:19,163 - src.data.make_dataset - INFO - Shape of df_bitcoin: (2355, 2)
2019-11-03 17:24:19,163 - src.data.make_dataset - INFO - Shape of df: (4757, 91)

In [13]:
fe = FeatureEngineering(df, df_bitcoin, df_test)

In [14]:
fe.construct_features()

2019-11-03 17:26:06,352 - src.features.build_features - INFO - Adding transaction count for train
2019-11-03 17:26:06,368 - src.features.build_features - INFO - Adding transaction count for test
2019-11-03 17:26:06,381 - src.features.build_features - INFO - Add function holder count

In [16]:
fe.df_features_train.head()

   OBS_ID  success  transaction_count   holder_count
0  235691        0       45774.719889   11394.625397
1  235692        1      975773.000000  109840.000000
2  235693        0       22730.000000   13914.000000
3  235694        0         125.000000      51.000000
4  235695        0       16417.000000    6250.000000

In [17]:
fe.df_features_test.head()

   OBS_ID  transaction_count  holder_count
0       1         376.000000    265.000000
1       2       70408.000000  23115.000000
2       3       59910.102041  23776.371058
3       4         304.000000     65.000000
4       5       59910.102041  23776.371058