In [4]:
%load_ext autoreload
%autoreload 2
import os 
import pandas as pd
import numpy as np

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [2]:
os.chdir('..')

In [5]:
from src.data.make_dataset import get_preprocessed_datasets
from src.features.build_features import FeatureEngineering

In [6]:
df_bitcoin, df, df_test = get_preprocessed_datasets()

2019-11-03 19:30:18,657 - src.data.make_dataset - INFO - making final data sets from raw data
2019-11-03 19:30:18,954 - src.data.make_dataset - INFO - Shape of df_bitcoin: (2355, 2)
2019-11-03 19:30:18,955 - src.data.make_dataset - INFO - Shape of df: (4757, 91)

In [7]:
fe = FeatureEngineering(df, df_bitcoin, df_test)

In [8]:
fe.construct_features()

2019-11-03 19:30:20,939 - src.features.build_features - INFO - Start filling NA values in transaction_count
2019-11-03 19:30:20,951 - src.features.build_features - INFO - Found 2695 NA values in column transaction_count
2019-11-03 19:30:20,955 - src.features.build_features - INFO - Filled NA values
2019-11-03 19:30:20,975 - src.features.build_features - INFO - Add function holder count
2019-11-03 19:30:20,988 - src.features.build_features - INFO - Start filling NA values in holder_count
2019-11-03 19:30:21,001 - src.features.build_features - INFO - Found 2699 NA values in column holder_count
2019-11-03 19:30:21,005 - src.features.build_features - INFO - Filled NA values
2019-11-03 19:30:21,029 - src.features.build_features - INFO - Adding categories_0

In [10]:
fe.df_features.head()

   OBS_ID success  transaction_count   holder_count  labels_categories_0
0  235691       0       48262.141038   13576.305982                   23
1  235692       1      975773.000000  109840.000000                   29
2  235693       0       22730.000000   13914.000000                   29
3  235694       0         125.000000      51.000000                   26
4  235695       0       16417.000000    6250.000000                   26

In [17]:
fe.df_features_test.head()

   OBS_ID  transaction_count  holder_count
0       1         376.000000    265.000000
1       2       70408.000000  23115.000000
2       3       59910.102041  23776.371058
3       4         304.000000     65.000000
4       5       59910.102041  23776.371058