In [1]:
import pandas as pd
from src.data.make_dataset import read_in_data
import os

In [2]:
os.chdir('..')

In [3]:
df_bitcoin, df, df_test = read_in_data()

In [18]:
ser_nas = df.isna().sum()

In [26]:
df_nas = pd.DataFrame(ser_nas, columns=['nas_absolute'])

In [27]:
df_nas = df_nas.assign(na_relative = df_nas.apply(lambda x: round(x.nas_absolute / len(df) * 100, 2), axis=1))

In [28]:
df_nas = df_nas.sort_values('na_relative', ascending=False)

In [29]:
df_nas

                             nas_absolute  na_relative
ico_data_pre_sale_available          4420        92.92
ico_data_softcap_amount              4319        90.79
ico_data_softcap_currency            4319        90.79
ico_data_total_raised                4056        85.26
ico_data_amount_for_sale             4047        85.07
...                                   ...          ...
KW13                                    0         0.00
KW14                                    0         0.00
KW15                                    0         0.00
KW16                                    0         0.00
success                                 0         0.00

[91 rows x 2 columns]

In [13]:
df_not_na = df_nas[df_nas.na_relative < 20]

In [16]:
df_not_na.index

Index(['links_twitter_screen_name', 'market_data_total_supply',
       'links_blockchain_site', 'market_data_first_time_trading',
       'market_data_high_24h_usd', 'market_data_low_24h_usd', 'links_homepage',
       'market_data_ath_date_usd', 'market_data_ath_usd',
       'market_data_current_price_usd', 'market_data_circulating_supply',
       'community_data_twitter_followers', 'community_data_facebook_likes',
       'public_interest_stats_alexa_rank',
       'public_interest_stats_bing_matches',
       'developer_data_pull_request_contributors',
       'developer_data_commit_count_4_weeks', 'developer_data_total_issues',
       'developer_data_pull_requests_merged', 'developer_data_closed_issues',
       'developer_data_subscribers', 'developer_data_stars',
       'developer_data_forks', 'community_data_reddit_subscribers',
       'community_data_reddit_average_posts_48h',
       'community_data_reddit_average_comments_48h',
       'community_data_reddit_accounts_active_48h', 'KW22', 'KW30', 'KW23',
       'KW24', 'KW25', 'KW26', 'KW21', 'KW27', 'KW28', 'KW29', 'KW34', 'KW31',
       'KW32', 'KW33', 'KW35', 'KW36', 'KW39', 'KW38', 'KW37', 'KW19', 'KW20',
       'OBS_ID', 'KW18', 'KW17', 'symbol', 'name', 'ï..id', 'KW1', 'KW2',
       'KW3', 'KW4', 'KW5', 'KW6', 'KW7', 'KW8', 'KW9', 'KW10', 'KW11', 'KW12',
       'KW13', 'KW14', 'KW15', 'KW16', 'success'],
      dtype='object')